<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Avaliação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Formulário de Avaliação</h1>
        <form action="{{ url_for('start_exam') }}" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
            <label for="exam_name">Nome da Prova:</label>
            <input type="text" id="exam_name" name="exam_name" required>
            <label for="exam_number">Número da Prova:</label>
            <input type="text" id="exam_number" name="exam_number" required>
            <button type="submit">Iniciar Prova</button>
        </form>
    </div>
</body>
</html>
